.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Занять всю высоту видимой области браузера */
  margin-left: 25px;
  margin-top: 25px;
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Позволяет прокручивать содержимое, если оно больше контейнера */
}
