.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.content {
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto; /* Позволяет прокручивать содержимое, если оно больше контейнера */
}
