* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
  }

  .Main {
    width: 100%;
    padding: 25px;
    text-align: center;
        }
h1 {
            margin-top: 40px;
            margin-bottom: 10px;
   }
img {
            width: 70px;
            margin: 30px auto;
    }

