name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # или другая ветка, на которой вы работаете

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'  # Или другая версия Node.js, которую вы используете

    - name: Install dependencies
      run: npm install

    - name: Build the project
      run: npm run build

    - name: Deploy to GitHub Pages
      id: deployment
      uses: peaceiris/actions-gh-pages@v3
      with:     
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build
